body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color: rgb(224, 15, 15);
    text-align: center;
}
p {
    color: rgb(130, 9, 9);
    text-align: center;
}