body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(21, 43, 183);
    margin: 0%;
}

header{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
}

nav{
    padding: 3px;
    background-color: black;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.416);
}

nav > a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    margin-right: 30px;

}

main{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
}
footer{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    padding: 1px;
    margin: 0%;
}